<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/" class="active">HOME</a>
      <a href="/flights/new" class="active">ADD FLIGHTS</a>
      <a href="/flights" class="active">ALL FLIGHTS</a>
    </nav>
    <h1>WELCOME</h1>
    <h3>Thank you for tracking & viewing your flights with us</h3>


  </body>
</html>
